/* Write your CSS! */

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url(../../fonts/proximanova-sbold-webfont.eot);
    src: url(../../fonts/proximanova-sbold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../../fonts/proximanova-sbold-webfont.woff) format('woff'),
         url(../../fonts/proximanova-sbold-webfont.ttf) format('truetype'),
         url(../../fonts/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url(../../fonts/proximanova-reg-webfont.eot);
    src: url(../../fonts/proximanova-reg-webfont.eot?#iefix) format('embedded-opentype'),
         url(../../fonts/proximanova-reg-webfont.woff) format('woff'),
         url(../../fonts/proximanova-reg-webfont.ttf) format('truetype'),
         url(../../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

.header-content {
  margin-top: 60px;
  
}

.background-container {
  z-index: -1000;
  opacity: 0.8;
  height: 440px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -460px;
  border-radius: 10px;
  display: block;
  position: inherit;
  background-color: #202020;
}

.header-content {
  z-index: 1000;
}

.signup-form {
  position: relative;
  z-index: 1000;
  width: 50%;
  max-width: 600px;

}

.signin_button {
  -webkit-transition: all 0.3s ease-in-out;
  font-family: 'proxima_nova_rgregular';
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #202020;
  background-color: #fff;
  text-align: center;
  padding: 8px;
  width: 100px;
  border-radius: 4px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
}

.signin_button:hover {
  background-color: #fff;
  color: #acc1cd;
  text-decoration: none;
}

.signin_button:visited {
  text-decoration: none;
}

.logo {
  z-index: 200;
  position: relative;
  display: block;
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
}

.h1 {
  z-index: 200;
  position: relative;
  font: normal 1.667em/1 'proxima_nova_ltsemibold';
  letter-spacing: 3px;
  margin-top: 2%;
  text-align: center;
  color: #fff;
}

.h3 {
  z-index: 200;
  position: relative;
  margin-top: 2%;
  font-size: 1.2em;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  color: #fff;
  font-family: 'proxima_nova_rgregular';
  text-align: center;
  line-height: 1.3em;
  margin-bottom: -20px;
}


._input {
  font: normal 1em 'proxima_nova_rgregular';
  margin-top: 30px;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff);
  font-size: 1.2em;
  color: #4f4f4f;
}

._button {
  -webkit-transition: all 0.3s ease-in-out;
  display: block;
  float: left;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  font-family: "proxima_nova_ltsemibold";
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  background-color: #6fda8c;
}

.video-button {
  -webkit-transition: all 0.3s ease-in-out;
  font-family: "proxima_nova_ltsemibold";
  font-size: 1.1em;
  color: #fff;
  background-color: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #fff; 
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 20px; 
  text-decoration: none;
  outline: none;
  margin-bottom: 50px;
}

.video-button:hover {
  background-color: #cccccc;
  text-decoration: none;
  color: #ee3c23;
  border: 1px solid #cccccc;

}
.video-button:focus { 
  outline: none;
  text-decoration: none;
  color: #4f4f4f;
}

.video-button:active {
  text-decoration: none;
  color: #4f4f4f;
}

._button:hover {
  background-color: #66c680;
  color: #fff;
}

._button:active {
  background-color: #008E45;
  color: #f0f0f0;
}

.devices {
  width: 80%;
  margin-top: 120px;
}

.devices:hover {
  opacity: 0.9;
}

.devices:active {
  opacity: 1;
}

.myoutube {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  }

.videoWrapper {
  display: none;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 80%;
}

@media (max-width: 1199px) {
  .h3 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;

  }
}

@media (max-width: 991px) {
    
  .signup-form {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .background-container {
    width: 70%;
    margin-right: 15%;  
    margin-left: 15%;
  }  
}

@media(max-width: 768px) {

  .logo {
    width: 40%;
    margin-top: 80px;
  }
  
  .h1 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .signup-form {
    width: 74%;
    margin-left: 13%;
    margin-right: 13%;
  }

  ._button {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .background-container {
    margin-top: -480px;
    height: 480px;
  }

}

@media(max-width: 580px) {
  
  .logo {
    margin-top: 80px;
    width: 60%;
  }

  .h1 {
    width:60%;
    margin-right: auto;
    margin-left: auto;
  }

  .h3 {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .background-container {
    width: 86%;
    margin-left: 8%;
    margin-right: 8%;
  }

}


@media(max-width: 440px) {
  
  .h3 {
    margin-top: 3%;
    width:80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -10px;  
  }

  .h1 {
    width:80%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .signup-form {
    width: 100%;
    margin:0 auto;
    
  }

  ._button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .background-container {
    width: 100%;
    margin-left: auto;
    height: 450px;
    margin-right: auto;
    margin-top: -470px;
    
  }

}

html {
  height: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
  body {
    background-size: 72px 72px;
  }

}